<div class="flavor-text">
<h1 id="aboutus">About Us</h1>

<p>We are first time hackathoners at <a href="https://boston.techtogether.io/">TechTogether Boston 2021</a></p>

<p>Contributors</p>

<p><a href="https://www.linkedin.com/in/pauline-t-75500314/">Pauline</a></p>

<p><a href="https://github.com/krisingva">Kris</a></p>

<p><a href="https://www.linkedin.com/in/km01221/">Kassandra</a></p>
</div>