<div class="flavor-text">
<h1 id="credits">Credits</h1>

<hr />

<p>The balanced money formula was created by <a href="https://en.wikipedia.org/wiki/Elizabeth_Warren">Elizabeth Warren</a> and <a href="https://en.wikipedia.org/wiki/Amelia_Warren_Tyagi">Amelia Warren Tyagi</a> and is found in the book <a href="https://www.goodreads.com/book/show/88654.All_Your_Worth">All Your Worth: The Ultimate Lifetime Money Plan</a>. </p>

<hr />

<p>The back end of the website was created with <a href="https://www.ruby-lang.org/en/">Ruby</a> and <a href="http://sinatrarb.com/">Sinatra</a>.</p>

<hr />

<p>This project was completed for <a href="https://boston.techtogether.io/">TechTogether Boston 2021</a>.</p>
</div>