<div class="flavor-text">
<h1 id="howtouse">How to Use</h1>

<ol>
<li>Enter your monthly take home income</li>

<li>The amount of money available for needs, wants, and savings (or debt repayment) is calculated for you. </li>

<li>Add subcategories (like housing) to the appropriate category (needs) with your monthly spending on that item ($1000 in housing payment)</li>

<li>If you are over budget for needs, wants, or savings, consider checking out <a href="https://www.goodreads.com/book/show/88654.All_Your_Worth">All Your Worth</a> from your public library</li>
</ol>
</div>