<div class="flavor-text">
<h1 id="whybalancedmoneyformula">Why Balanced Money Formula</h1>

<p>The balanced money formula provides a moderate, sustainable approach to finances that is easier to stick to than <a href="http://earlyretirementextreme.com/">a more extreme approach</a>.</p>

<p>The formula is </p>

<ul>
<li>50 % needs (items you must pay no matter what like housing, groceries, or electricity)</li>

<li>30 % wants (items that you want like like takeout, cable tv or netflix, concert tickets, gifts, or charitable contributions)</li>

<li>20 % debt repayment OR savings</li>
</ul>

<p>By keeping your needs, wants, and savings (or debt repayment) in balance, you will be able to enjoy managing your money knowing that you have everything covered. </p>
</div>